body {
  background-color:rgb(30,30,30) ;
  font-family:'B612 Mono';
  color:rgb(224,225,226);
}

button, select {
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(131, 131, 131);
  color:rgb(224,225,226);
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family:'B612 Mono';
  margin: 2px;
  font-size: 12px
}

button:hover{
  background-color:rgb(224,225,226);
  color: rgb(30,30,30)
}
button:focus{
  background-color:rgb(224,225,226);
  color: rgb(30,30,30)
}


label {
  font-size: 12px;
}

input[type=number] {
  color:rgb(224,225,226);
  background-color:rgb(50, 50, 50);
  font-size: 12px;
  font-family:'B612 Mono';
  font-size: 12px
}

select {
  color:rgb(224,225,226);
  background-color:rgb(50, 50, 50);
  margin-top: 5px;
}



td {
  background-color: rgb(30,30,30);
  padding: 7px;
  border-radius: 7px;
  outline: 1px solid rgba(232, 232, 232, 0.275);
}

tr {
  padding-bottom: 5px;
}

.data {
  color: rgb(100,196,154); 
  font-size: 12px;
  font-family:'B612 Mono';
}

.link,
.link:link,
.link:visited {
  color: rgb(224,225,226); 
  font-style: italic;
  text-decoration-line: underline;
  font-size: 12px;
  font-family:'B612 Mono';
}


.dataHeader {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.myCredit {
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(224,225,226); 

  text-decoration-line: underline;
  font-size: 12px;
}

#versionElement {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 15px;

  color: rgb(224,225,226); 
}

.dataHeader, .versionElement {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

hr {
  border-color:rgb(224,225,226, 0.5);
}




.flightData {
  color:rgb(224,225,226);
  font-size: 12px;
  background-color: rgb(30,30,30);
  border-spacing: 10px;

  border: 1px solid rgb(100, 195, 153);

  width: 600px;
  margin: auto;
}

.ldgDIV{
  width: 560px;
  
  border-radius: 0px;
  background-color: rgb(50, 50, 50);

  padding:10px;
  outline: 1px dashed rgb(100, 195, 153);
  margin: auto;
}


.ldgBtton {
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(100, 195, 153);
  color:rgb(224,225,226);
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family:'B612 Mono';
  margin: 2px;
  font-size: 12px
}

.ldgBtton:hover {
  color: rgb(50, 50, 50);
  background-color:rgb(224,225,226);
}


.ldgBttonSelected {
  background-color: rgba(224,225,226, 1);
  border: 1px solid rgb(100, 195, 153);
  color:rgb(50,50,50);
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family:'B612 Mono';
  margin: 2px;
  font-size: 12px
}


.WebsiteCredits {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .flightData {
    width: auto;
  }

  .ldgDIV{
    width: 350px;
    
    border-radius: 0px;
    background-color: rgb(50, 50, 50);
  
    padding:10px;
    outline: 1px dashed rgb(100, 195, 153);
    margin: auto;
  }
  


}


